/* your code here */
body{
	background-color:#10e37f;
	font-family:arial;
}
.product{
	background:white;
	display:flex;
	justify-content:center;
/* 	align-items:center; */
	gap:20px;
}
.product__photo{
	display:flex;
/* 	justify-content:spa */
	flex-direction:column;
	width:340px;
}

.photo-container{
	
}
.photo-main{
	background-image:radial-gradient(circle,#bbd472,#97e004);
}
.controls{
	display:flex;
	justify-content:space-between
	
}
.controls>img{
}
i{
	color:white;
}
.photo-album{
	background-color:white;
}
.photo-album>ul{
	display:flex;
	flex-direction:row;
	justify-content:space-evenly;
	padding:24px;
	padding-buttom:px;
	
}
li{
	border:1px solid #d5d5d5;
	list-style-type:none;
	border-radius:10%;
}

.product__info{
	display:flex;
	flex-direction:column;
	justify-content:space-between;
}
/* .title{
	display:flex;
	flex-direction:column;
	justify-content:space-around;
	
} */
.title>h1{
	color:#4c4c4c;
}
.title>span{
	color:#a6a6a6;
	font-size:x-small;
	
}
.price{
	color:#fe3f40;
}
.price>span{
	font-size:xxx-large;
}


